
@font-face {
	@include font-include('e-Ukraine', 300, swap, normal, 'e-Ukraine-Light');
}

@font-face {
	@include font-include('e-Ukraine', 400, swap, normal, 'e-Ukraine-Regular');
}

@font-face {
	@include font-include('e-Ukraine', 500, swap, normal, 'e-Ukraine-Medium');
}

@font-face {
	@include font-include('e-Ukraine', 700, swap, normal, 'e-Ukraine-Bold');
}

@font-face {
	@include font-include('Proxima Nova', 800, swap, normal, 'ProximaNova-Extrabld');
}

@font-face {
	@include font-include('Caveat', 400, swap, normal, 'Caveat-Regular');
}

.main-title {
	font-family: var(--title-font);
	font-weight: 700;
	line-height: 129.166667%;

	font-size: 1.5rem;

	@include _550 {
		font-size: 2rem;
	}

	@include _768 {
		font-size: 2.5rem;
	}

	@include _992 {
		font-size: 2.875rem;
	}
}

.title {
	
	font-family: var(--title-font);
	font-weight: 400;
	line-height: 120%;
	letter-spacing: -0.01em;

	color: #07286E;

	font-size: 1.5rem;

	@include _550 {
		font-size: 1.75rem;
	}

	@include _768 {
		font-size: 2rem;
	}

	@include _992 {
		font-size: 2.875rem;
	}

}

.large-text {
	font-weight: 300;
	font-size: 1.125rem;
	
	@include _768 {
		font-size: 1.175rem;
	}
	
	@include _992 {
		font-size: 1.375rem;
	}

	line-height: 150%;
	color: #2F2F2F;
}

.min-title {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 120%;
	color: var(--title-color);
}

.min-title-2 {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 130%;
	
	@include _992 {
		font-size: 1.5rem;
	}
}

.txt-center {
	text-align: center;
}

.text {
	font-size: 1rem;
	
	@include _768 {
		font-size: 1.25rem;
	}
	
	@include _992 {
		font-size: 1.375rem;
	}
	line-height: 150%;
	color: var(--dark);
	font-weight: 400;
}
