.tariffs {

	margin-top: 60px;

	// .tariffs__title

	&__title {
	}

	// .tariffs__text

	&__text {
		margin-top: 20px;
		@include _992 {
			margin-top: 10px;
		}
	}

	// .tariffs__list

	&__list {
		margin-top: 26px;

		display: grid;
		@include _768 {
			margin-top: 76px;
			grid-template-columns: 1fr 1fr;
		}

		gap: 13px;

		@media (min-width: 1200px) {
			gap: 30px;
			grid-template-columns: 1fr 1fr 1fr;
		}
		
	}

	// .tariffs__card

	&__card {

		border-radius: 30px;
		border: 1px solid var(--primary-color-1);
		background: var(--primary-color-light);

		display: flex;
		flex-direction: column;

		// .tariffs__card--header

		&--header {
			border-radius: 26px;
			background: var(--primary-color-1);

			padding: 47px 20px;
			text-align: center;

			position: relative;
		}

		// .tariffs__card--name

		&--name {
			color: #B4F2EB;
			font-size: 1.875rem;
			font-weight: 700;
			line-height: 100%;
			text-transform: uppercase;

		}

		// .tariffs__card--min-desrc

		&--min-desrc {
			margin-top: 10px;

			color: #FFF;
			font-size: 1.125rem;
			line-height: 150%;
			font-weight: 300;
		}

		// .tariffs__card--params

		&--params {
			display: flex;
			flex-direction: column;

			flex: 1 1 auto;

			padding: 30px 25px 0;

			li {
				padding-left: 30px;
				position: relative;

				&:not(:first-child) {
					margin-top: 5px;
				}

				&::before {
					content: '';
					position: absolute;
					left: 0; top: 3px;
					width: 20px; height: 20px;
					background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C4.5 0 0 4.5 0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0ZM8 15L3 10L4.41 8.59L8 12.17L15.59 4.58L17 6L8 15Z' fill='%236BD333'/%3E%3C/svg%3E%0A")
					center / contain no-repeat;
				}
			}
		}

		// .tariffs__card--footer

		&--footer {
			display: flex;
			flex-direction: column;
			text-align: center;

			padding: 0 43px 33px; margin-top: 32px;
		}

		&._has-note &--footer {
			padding: 0 43px 5px; margin-top: 32px;
		}

		// .tariffs__card--price

		&--price {
			font-size: 1.5rem;
			line-height: 150%;
			color: var(--title-color);
		}

		// .tariffs__card--btn

		&--btn {
			margin-top: 10px;
		}

		// .tariffs__card--link

		&--link {
			display: inline-block;
			margin-top: 10px;

			text-decoration: underline;
			color: var(--accent);
			font-weight: 300;
		}

		&--min-text, &--min-text-2 {
			margin-top: 10px;
			color: var(--text-color);
			font-weight: 300;
			line-height: 140%;
			display: block;
			text-align: center;
		}

		&--min-text-2 {
			font-size: 0.875rem;
			margin-top: 0;
		}

		&--note {
			color: var(--primary-color-2);
			text-align: center;
			font-size: 0.4375rem;
			font-weight: 300;
			line-height: 140%;

			display: block;
			padding-top: 10px;
			margin: 0 -15px;
		}

		// .tariffs__card--logo

		&--logo {
			position: absolute;
			right: 0; top: -1px;

			display: inline-flex;
			align-items: center;
			justify-content: center;

			padding: 10px 15px 0px;
			border-radius: 0px 26px 26px 26px;
			border: 1px solid #00939D;
			background: #E9FBFA;
		}
	}
}
