.treatment-options {

	padding-top: 15px;
	
	@include _768 {
		padding-top: 50px;
	}

	// .treatment-options__row

	&__row {
		display: grid;
		gap: 15px;
		@include _992 {
			gap: 20px;
			grid-template-columns: 1fr 1fr;
		}
		
	}

	// .treatment-options__card

	&__card {

		border-radius: 30px;
		border: 1px solid var(--primary-color-1);
		background: var(--primary-color-light);

		padding: 30px 20px;
		@include _768 {
			border-radius: 40px;
			padding: 40px 35px 40px;
			border: 3px solid var(--primary-color-1);
		}

		// .treatment-options__card--header

		&--header {
			display: flex;
			align-items: center;

			picture {
				flex: 0 0 50px;
			}

			img {
				width: 50px; height: 50px;
				margin-right: 5px;
			}
		}

		// .treatment-options__card--title

		&--title {
			color: var(--title-color);
			
		}

		// .treatment-options__card--text

		&--text {
			padding-top: 10px;

			color: var(--text-color-2);
			font-size: 0.875rem;
			@include _550 {
				font-size: 1rem;
			}
			
			@include _768 {
				font-size: 1.125rem;	
			}
			
			font-weight: 300;
			line-height: 150%;
		}
	}
}
