.app {

	display: flex;
	align-items: center;
	flex-direction: column;

	background: linear-gradient(99.37deg,rgba(233,251,250,0) 49.97%,#69DBC8 135.98%),linear-gradient(276deg,rgba(233,251,250,0) 23.97%,#69DBC8 135.98%);
	overflow: hidden;

	min-height: calc(var(--svh, 1vh) * 100);

	padding-top: calc(var(--height-header) + 80px); padding-bottom: 80px;

	@include _768 {
		flex-direction: row;
	}

	// .app__image

	&__image {

		flex: 0 1 50%;
		width: 100%;
		padding-left: 30px; padding-right: 30px;
		
		@include _768 {
			width: auto;
			padding-top: 0;
			padding-left: 0;
			padding-right: 63px;
		}

		// .app__image--body

		&--body {
			width: 100%; padding-top: 105%;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				left: 50%; top: 50%;
				transform: translate(-50%,-50%);
				width: 200%; height: 200%;
				background: radial-gradient(circle, rgba(72,229,218,1) 13%, rgba(255,255,255,0) 51%);
				border-radius: 50%;
				filter: blur(20px);
				opacity: .8;
				z-index: -1;
			}

			& img {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				object-fit: contain;
			}
		}
	}

	// .app__content

	&__content {
		flex: 0 1 50%;
		padding: 49px 0px 0 10px;
		@include _768 {
			padding: 0;
		}
	}

	// .app__title

	&__title {
		
		text-align: left;
		&.section-title {
			text-transform: none;
		}
	}

	// .app__text

	&__text {
		padding-top: 15px; padding-right: 15px;

		font-size: 1rem;
		font-weight: 300;
		line-height: 150%;
		
		@include _768 {
			font-size: 1.175rem;
			padding-right: 0;
		}
		
		@include _992 {
			font-size: 1.3125rem;
			padding-top: 15px;
		}
		
		color: #2F2F2F;

		& p:not(:first-child) {
			padding-top: 10px;
		}
	}

	// .app__footer

	&__footer {
		padding-top: 30px;

		display: flex;

		flex: 0 1 50%;
		padding-right: 15px;
		margin: -7.5px;
		@include _992 {
			margin: -15px;
			padding-right: 0;
		}
	}

	// .app__download

	&__download {
		display: block;
		padding: 7.5px;
		@include _992 {
			padding: 15px;
		}

		& img {
			width: 100%; height: 52px;
			object-fit: contain;
		}
	}
}
